{{VER=2.0.0}}
Package: posichain
Version: {{ VER }}
License: MIT
Vendor: Posichain blockchain
Architecture: amd64
Source: https://github.com/PositionExchange/posichain
Maintainer: Danny <danny@position.exchange>
Section: net
Priority: extra
Homepage: https://posichain.org
Description: Posichain is a sharded, fast finality, low fee, PoS public blockchain. This package contains the validator node program for posichain blockchain.
Build-Dep: dh-systemd
Recommends: jq, rclone (>= 1.52.3)
